.myDiv {
  background-color: silver;
  text-align: center;
  border: 5px;
  border-style: solid;
  border-radius: 25px;
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
  border: 2px solid black;
  padding: 5px;
}
.dash {
  border: 2px dashed blue;
  border-radius: 25px;
  padding-left: 5px;
}
.Center {
  text-align: center;
}
img {
  border: 2px dotted rgb(122, 192, 18);
  border-radius: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p:hover {
  background-color: indianred;
  transition: all 0.3s ease;
}
h1:hover {
  background-color: ivory;
  border-radius: 50px;
  transition: all 0.3s ease;
}
/* did i fix my git issue */
/* did it ruin it again */
